@model IEnumerable<MVCModuleStarter.Models.Category>

    <h2>Categories</h2>
    <ul>

        @foreach (var item in Model)
        {
            <li>
                @if (ViewBag.search_string != null)
                {
                    <a href="@Url.Action("Filter", "Modules", new { category = item.category, search_string = ViewBag.search_string })">
                        @Html.DisplayFor(modelItem => item.category)
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Filter", "Modules", new { category = item.category })">
                        @Html.DisplayFor(modelItem => item.category)
                    </a>
                }
                (@Html.DisplayFor(modelItem => item.kount))
            </li>
        }
    </ul>
